{% extends 'base.html' %}

{% block title %}Edit profile{% endblock %}

{% block content %}

<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            {% if profile.profile_picture %}
                            <img src="{{ profile.profile_picture }}"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 1">
                            {% else %}
                            <img src="/static/profile_picture/profile_picture.jpg"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 1">
                            {% endif %}
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            {% if profile.gender %}
                            <h5>{{ user.first_name }} {{ user.last_name }} ({{ profile.gender }})</h5>
                            {% else %}
                            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                            {% endif %}
                            {% if profile.city %}
                            <p>{{ profile.city }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <form method="POST" action="{% url 'edit_profile' %}">
                        {% csrf_token %}
                        <div class="card-body p-4 text-black">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">Profile Picture</p>
                            </div>
                            <div id="profilePicContainer">
                                <div class="form-group mb-5">
                                    <label>Profile picture link:</label>
                                    <input type="text" class="form-control" name="photo" id="profile_photo"
                                           value="{% if profile.profile_picture %}{{ profile.profile_picture }}{% endif %}">
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">User Details</p>
                            </div>
                            <div id="profileUserInfContainer">
                                <div class="form-group mb-5">
                                    <div class="row mb-2">
                                        <div class="col">
                                            <label>First Name:</label>
                                            <input type="text" class="form-control" id="first_name" name="first_name"
                                                   value="{{ user.first_name }}">
                                        </div>
                                        <div class="col">
                                            <label>Last Name:</label>
                                            <input type="text" class="form-control" id="last_name" name="last_name"
                                                   value="{{ user.last_name }}">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label>Email:</label>
                                            <input type="text" class="form-control" id="email" name="email"
                                                   value="{{ user.email }}">
                                        </div>
                                        <div class="col">
                                            <label>City:</label>
                                            {% if profile.city %}
                                            <input type="text" class="form-control" id="city" value="{{ profile.city }}"
                                                   name="city">
                                            {% else %}
                                            <input type="text" class="form-control" id="city" name="city">
                                            {% endif %}
                                        </div>
                                        <div class="col">
                                            <label>Gender</label>
                                            <select name="gender" class="form-select"
                                                    aria-label="Default select example">
                                                <option value="">Select gender</option>
                                                {% for gender in genders %}
                                                {% if profile.gender.id == gender.id %}
                                                <option value="{{ gender.id }}" selected>{{ gender.name }}</option>
                                                {% else %}
                                                <option value="{{ gender.id }}">{{ gender.name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="mb-5">
                                <p class="lead fw-normal my-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">

                                    <div class="form-group">
                                        <label for="about">Write something about yourself:</label>
                                        <textarea id="about" name="about"
                                                  class="form-control col-12 col-md-6" maxlength="500">{% spaceless %}
                                    {% if profile.about %}{{ profile.about }}{% endif %}
                                    {% endspaceless %}</textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">Photos</p>
                            </div>
                            <div id="photoContainer">
                                {% for photo in photos %}
                                <div class="form-group">
                                    <label for="photo">Photo link:</label>
                                    <input type="text" class="form-control" name="photos[]" value="{{ photo.link }}">
                                </div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="photo">Photo link:</label>
                                    <input type="text" class="form-control" name="photos[]">
                                </div>
                            </div>
                            <br>
                            <button type="button" class="btn btn-primary" id="addPhotoBtn">Add Photo Link</button>
                            <button type="button" class="btn btn-danger" id="removePhotoBtn">Remove Photo Link</button>

                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-dark btn-lg w-100 mb-3" id="saveBtn">Save Changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

