{% extends 'base.html' %}
{% block title %} Following {% endblock %}
{% block content %}
{% if following %}

<br>

<div class="row d-flex justify-content-center">
    <div class="col-10 align-items-center">
        <h2>Following</h2>
        <table class="table table-hover table-light">
            <tbody>
            {% for follow in following %}
            <tr>
                {% if follow.profile_picture %}
                <td><img class="rounded-circle shadow-1-strong me-3"
                         src="{{ follow.profile_picture }}" alt="avatar" width="60"
                         height="60"/></td>
                {% else %}
                <td><img class="rounded-circle shadow-1-strong me-3"
                         src="/static/profile_picture/profile_picture.jpg"
                         alt="avatar" width="60"
                         height="60"/></td>
                {% endif %}
                <td style="vertical-align: middle; width: 100%;" class="text-left"><a
                        href="{% url 'profile' username=follow.user.username %}"
                        class="text-dark text-decoration-none"><h4>{{ follow.user.first_name }}
                    {{ follow.user.last_name }}</h4></a></td>

                {% if request.user == follow.user %}
                <td style="vertical-align: middle; width: 0;" class="text-right">

                    </td>
                {% else %}
                <td style="vertical-align: middle; width: 0;" class="text-right">
                    <form method="post" action="{% url 'follow' %}?redirect_url=/profile/following/{{username}}/">
                        {% csrf_token %}
                        <input type="hidden" name="profile_id" value="{{ follow.id }}">
                        {% if request.user in follow.followers.all %}

                        <button class="btn btn-outline btn-lg btn-outline-dark" type="submit">Unfollow</button>
                        {% else %}
                        <button class="btn btn-outline btn-lg btn-dark" type="submit">Follow</button>
                        {% endif %}
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
<br>
<div class="row d-flex justify-content-center">
    <div class="col-10 align-items-center">
        <h2>You are not following anyone</h2>
    </div>
</div>

{% endif %}


{% endblock %}