{% extends 'base.html' %}
{% block title %} Followers {% endblock %}
{% block content %}
{% if followers %}
<br>
<div class="row d-flex justify-content-center">
    <div class="col-10 align-items-center">
        <table class="table table-hover table-light">
            <tbody>
            <tr>
                <th>Followers</th>
                <th></th>
                <th>Action</th>
            </tr>
            {% for follower in followers %}
            <tr>
                {% if follower.profile.profile_picture %}
                <td><img class="rounded-circle shadow-1-strong me-3"
                         src="{{ follower.profile.profile_picture }}" alt="avatar" width="60"
                         height="60"/></td>
                {% else %}
                <td><img class="rounded-circle shadow-1-strong me-3"
                         src="/static/profile_picture/profile_picture.jpg"
                         alt="avatar" width="60"
                         height="60"/></td>
                {% endif %}
                <td style="vertical-align: middle; width: 100%;" class="text-left"><a
                        href="{% url 'profile' username=follower.username %}"
                        class="text-dark text-decoration-none"><h4>{{ follower.first_name }}
                    {{ follower.last_name }}</h4></a></td>
                {% if request.user == follower %}
                <td style="vertical-align: middle; width: 0;" class="text-right">
                    </td>
                {% else %}
                <td style="vertical-align: middle; width: 0;" class="text-right">
                    <form method="post" action="{% url 'follow' %}?redirect_url=/profile/followers/{{username}}/">
                        {% csrf_token %}
                        <input type="hidden" name="profile_id" value="{{ follower.profile.id }}">
                        {% if request.user in follower.profile.followers.all %}
                        <button class="btn btn-outline btn-lg btn-outline-dark" type="submit">Unfollow</button>
                        {% else %}
                        <button class="btn btn-outline btn-lg btn-dark" type="submit">Follow</button>
                        {% endif %}
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
<br>
<div class="row d-flex justify-content-center">
    <div class="col-10 align-items-center">
        <table class="table table-hover table-light">
            <tbody>
            <tr>
                <th>There are no followers</th>
                <th></th>
                <th></th>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endif %}
{% endblock %}

