{% extends 'base.html' %}

{% block title %}SignUp{% endblock %}

{% block content %}
<br>

<div class="container">
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="username"
                   placeholder="Username">
        </div>
        <br>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Login</button>
    </form>
    Not a User? Register <a href="/signup" id="id_sign_up">Here.</a>
</div>

{% endblock %}