<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Profile Viewer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Home Page</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'my_profile' %}">My Profile</a>
                </li>
                {% endif %}

            </ul>
                <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'search' %}">
                    {% csrf_token %}
                    <ul class="navbar-nav">
                        <li>
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="query">
                        </li>
                        <li>
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                        </li>
                    </ul>
                </form>


            <ul class="navbar-nav">

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'logout_view' %}">Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'signup_view' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'login_view' %}">Log In</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>