{% extends 'base.html' %}

{% block title %} {{ profile.user.first_name }} {{ profile.user.last_name }}{% endblock %}

{% block content %}
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">

                    <div class="rounded-top text-white d-flex flex-row" style="background-image: url('{{ profile.cover_picture }}'); background-color: black; height: 200px; background-size: cover; background-position: center;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            {% if profile.profile_picture %}
                            <img src="{{ profile.profile_picture }}"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; height: 150px; z-index: 1">
                            {% else %}
                            <img src="/static/profile_picture/profile_picture.jpg"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 1">
                            {% endif %}
                            {% if request.user.is_authenticated and request.user == profile.user %}
                            <a href="{% url 'edit_profile_page' %}" class="btn btn-outline-dark"
                               data-mdb-ripple-color="dark"
                               style="z-index: 1;">Edit profile</a>
                            {% elif request.user.is_authenticated %}
                            <form method="post" action="{% url 'follow' %}">
                                {% csrf_token %}
                                <input type="hidden" name="profile_id" value="{{ profile.id }}">
                                {% if request.user in profile.followers.all %}
                                <button class="btn btn-outline-dark me-2" type="submit" data-mdb-ripple-color="dark"
                                        style="position: relative; width: 150px;">
                                    Unfollow
                                </button>
                                {% else %}
                                <button class="btn btn-outline-dark me-2" type="submit" data-mdb-ripple-color="dark"
                                        style="position: relative; width: 150px;">
                                    Follow
                                </button>

                                {% endif %}
                            </form>
                            {% endif %}
                        </div>

                        <div class="ms-3" style="margin-top: 130px;">
                            {% if profile.gender %}
                            <h5>{{ user.first_name }} {{ user.last_name }} ({{ profile.gender }})</h5>
                            {% else %}
                            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                            {% endif %}
                            {% if profile.city %}
                            <p>{{ profile.city }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div>
                                <p class="mb-1 h5">{{ profile.photos.count }}</p>
                                <p class="small text-muted mb-0">Photos</p>
                            </div>
                            {% if request.user.is_authenticated %}
                            <div class="px-3">
                                <a href="{% url 'followers_page' username=user.username %}"
                                   style="text-decoration: none; color: black"><p class="mb-1 h5">{{ profile.followers.count }}</p>
                                </a>

                                <p class="small text-muted mb-0">Followers</p>
                            </div>
                            <div>
                                <a href="{% url 'following_page' username=user.username %}"
                                   style="text-decoration: none; color: black"><p class="mb-1 h5">
                                    {{ profile.user.following.count }}</p></a>
                                <p class="small text-muted mb-0">Following</p>
                            </div>
                            {% else %}
                            <div class="px-3">
                                <a href="{% url 'login_view' %}"
                                   style="text-decoration: none; color: black"><p class="mb-1 h5">{{ profile.followers.count }}</p>
                                </a>

                                <p class="small text-muted mb-0">Followers</p>
                            </div>
                            <div>
                                <a href="{% url 'login_view' %}"
                                   style="text-decoration: none; color: black"><p class="mb-1 h5">
                                    {{ profile.user.following.count }}</p></a>
                                <p class="small text-muted mb-0">Following</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About</p>

                            <div class="p-4" style="background-color: #f8f9fa;">
                                {% if profile.about %}
                                <p class="font-italic mb-1">{{ profile.about }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Photos</p>
                        </div>
                        <div class="row g-2">
                            {% if photos %}
                            {% for photo in photos %}
                            <div class="col-6 mb-2">
                                <a href="{{ photo.link }}"><img src="{{ photo.link }}" alt="photo {{ forloop.counter }}"
                                                                class="w-100 rounded-3"></a>
                            </div>
                            {% if forloop.counter|divisibleby:2 %}
                        </div>
                        <div class="row g-2">
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
