{% extends 'base.html' %}

{% block title %} {{ profile.user.first_name }} {{ profile.user.last_name }}{% endblock %}

{% block content %}
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            {% if profile.profile_picture %}
                            <img src="{{ profile.profile_picture }}"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 1">
                            {% else %}
                            <img src="https://i.pinimg.com/236x/d6/cd/f2/d6cdf2a5daaf96462127cc31fb621851.jpg"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 1">
                            {% endif %}
                            {% if request.user.is_authenticated and request.user == profile.user %}
                            <a href="{% url 'edit_profile_page' %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                                    style="z-index: 1;">Edit profile</a>
                            {% endif %}
                        </div>

                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                            {% if profile.city %}
                            <p>{{ profile.city }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div class="px-3">
                                <p class="mb-1 h5">{{ profile.followers }}</p>
                                <p class="small text-muted mb-0">Followers</p>
                            </div>
                            <div>
                                <p class="mb-1 h5">{{ profile.following }}</p>
                                <p class="small text-muted mb-0">Following</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About</p>

                            <div class="p-4" style="background-color: #f8f9fa;">
                                {% if profile.about %}
                                <p class="font-italic mb-1">{{ profile.about }}</p>
                                {% endif %}
                            </div>

                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Photos</p>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-2">
                                {% if profile.photos %}
                                <img src="{{ profile.photos }}"
                                     alt="image 1" class="w-100 rounded-3">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
