{% extends 'base.html' %}
{% block title %} Chat {% endblock %}
{% block content %}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Friends:</h5>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled mb-0">
                            {% for user in users %}

                            <li class="p-2 border-bottom" style="background-color: #eee;">
                                <a href="#" class="d-flex justify-content-between">
                                    <div class="d-flex flex-row">
                                        {% if user.profile.profile_picture %}
                                        <img src="{{ user.profile.profile_picture }}" alt="avatar"
                                             class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                                             width="60" height="60">
                                        {% else %}
                                        <img src="/static/profile_picture/profile_picture.jpg"
                                             alt="avatar"
                                             class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                                             width="60" height="60">
                                        {% endif %}
                                        <div class="pt-1">
                                            <a href="{% url 'chat' username=user.username %}"
                                               class="fw-bold text-dark text-decoration-none">{{ user.first_name }}
                                                {{ user.last_name }}</a>
                                        </div>
                                    </div>
                                    <div class="pb-3">
                                        <div class=" badge bg-danger float-end msg" >0</div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-7 col-xl-8">
                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Chat with: {{friend.first_name}} {{friend.last_name}} ({{friend.username}})</h5>
                <ul class="list-unstyled">

                    <div class="chat-body" id="chat-body">
                        {% for chat in chats %}
                        {% if chat.msg_sender == request.user and chat.msg_receiver == friend %}

                        <div class="chat-box-sent">
                            {{ chat }}
                        </div>

                        {% elif chat.msg_sender == friend and chat.msg_receiver == request.user %}

                        <div class="chat-box-received">
                            {{chat}}
                        </div>

                        {% endif %}
                        {% endfor %}

                        <div class="chat-box-sent" id="chat-box-sent" style="display: none">

                        </div>
                    </div>
                    <form action="" id="myform" method="POST">

                        <li class="bg-white mb-3">
                            <div class="form-outline">
                                {% csrf_token %}
                                {{ form.body }}
                                <input type="hidden" id="friend-username" value="{{ friend.username }}">
                            </div>
                        </li>
                        <button type="submit" class="btn btn-dark btn-rounded float-end" id="submit">Send</button>
                    </form>

                </ul>
            </div>
        </div>
    </div>
</section>


<script>
    const num = {{num}}


    setInterval(getNotification, 1000)

    function getNotification() {
        let url = "{% url 'notification' %}";
        fetch(url)
            .then(res => res.json())
            .then(data => {
                console.log(data)
                let chatNotificationBtn = document.getElementsByClassName("msg")
                for (let i = 0; i < data.length; i++) {
                    chatNotificationBtn[i].innerText = data[i]
                }
            })
            .catch(error => console.log(error))
    }

</script>


{% endblock %}



