{% extends 'base.html' %}

{% load static %}

{% block title %}Chat{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'css.css' %}">


<br><br>
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <h2 class="con">Contacts</h2>
                </div>
                <div class="card-body contacts_body">

                    <ui class="contacts">
                        {% if users %}
                        {% for user in users %}
                        <li>
                            <div class="d-flex bd-highlight">

                                <div class="img_cont">
                                    {% if user.profile.profile_picture %}
                                    <img src="{{ user.profile.profile_picture }}"
                                         class="rounded-circle user_img">
                                    {% else %}
                                    <img src="/static/profile_picture/profile_picture.jpg"
                                         class="rounded-circle user_img">
                                    {% endif %}
                                    <div class="badge bg-danger msg position-absolute bottom-0 end-0">0</div>
                                </div>
                                <div class="user_info">
                                    <a href="{% url 'chat' username=user.username %}" class="text-decoration-none">
                                    <span>{{ user.first_name }} {{ user.last_name }}</span>
                                    <p>{{ user.username }}</p>
                                        </a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}

                        {% else %}

                        <div class="user_info" style="white-space: normal;">
                        <span>It looks like you don't have any friends yet to chat with. Don't worry, you can start by
                                following other users and they can follow you back. Once you're following each other,
                                you'll be able to chat.
                                To find other users to follow, you can search for them using the search bar or browse
                                through the list of suggested users. Remember to also update your own profile so others
                                can find and follow you too.
                                Happy chatting!</span>
                            </div>
                        {% endif %}

                    </ui>

                </div>

            </div>
        </div>

    </div>
</div>
</body>

<script>
    const num = {{num}}
    setInterval(getNotification, 1000)

    function getNotification() {
        let url = "{% url 'notification' %}";
        fetch(url)
            .then(res => res.json())
            .then(data => {
                console.log(data)
                let chatNotificationBtn = document.getElementsByClassName("msg")
                for (let i = 0; i < data.length; i++) {
                    chatNotificationBtn[i].innerText = data[i]
                }
            })
            .catch(error => console.log(error))
    }
</script>

{% endblock %}


{% block extra %}
<script src="{% static 'chat.js' %}"></script>

{% endblock %}


